/* h2 */
/*
h2 {
  color: #9E3321;
  font-size: 30pt;
  font-weight: bold;
}
*/

/* logo */
/*
.skin-blue .main-header .logo {
  background-color: #A00014;
  background-image: url("tartan_brut.jpeg");
  }
*/

/* logo when hovered */
/*
.skin-blue .main-header .logo:hover {
  background-color: #000000;
  }
*/

/* navbar (rest of the header) */
/*
.skin-blue .main-header .navbar {
  background-color: #A00014;
  background-image: url("tartan_brut.jpeg");
  background-position: top right;
  }     */
                          
/* main sidebar */
/*
.skin-blue .main-sidebar {
  background-color: #A00014;
  background-image: url("tartan_brut.jpeg");
  font-weight: bold;
  font-family: arial;
  font-size: 14pt;
  }
*/

/* active selected tab in the sidebarmenu */
/*
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
  background-color: #A020F0;
  background-image: url("piste_bleue.jpg");
  font-weight: bold;
  font-family: arial;
  font-size: 14pt;
  }
*/

/* other links in the sidebarmenu */
/*
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
  background-color: #000000;
  background-image: url("pelouse.png");
  color: #F7F7F7;
  font-weight: bold;
  font-family: arial;
  font-size: 14pt;
  }
*/

/* other links in the sidebarmenu when hovered */
/*
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
  background-color: #A00014;
  background-image: url("pelouse.png");
  font-weight: bold;
  }
*/
  
/* body of the dashboard */
/*
.content-wrapper {
  background-color: #BBBDC0;*/
  /*background-image: url("nous.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
 /* }*/

/* tab in the body */
/*
.content-wrapper .tab-content .tab-pane .nav-tabs-custom .tab-content .dataTables_scrollBody{
  background-color: #A00014;
  }
  
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  background-color: #A00014;
  }
  
.dataTables_scrollBody {
  background-color: #A00014;
  }
  
table.dataTable.stripe tbody tr.odd, 
table.dataTable.display tbody tr.odd {
    background-color: #A00014;
}
*/
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
  /*
.skin-blue .main-sidebar .sidebar .sidebar-menu .treeview .treeview-menu a:hover{

    background-color: #daf068;
    color: red;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{

    background-color: #daf068;
    color: green;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



.skin-blue .main-sidebar .sidebar .sidebar-menu .treeview a:hover{

    background-color: #daf068;
    color: blue;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
*/



        /* main sidebar *//*
        .skin-blue .main-sidebar {
                              background-color: #f4b943;
                              }*/

        /* active selected tab in the sidebarmenu *//*
        .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                              background-color: #ff0000;
                              }*/

        /* other links in the sidebarmenu *//*
        .skin-blue .main-sidebar .sidebar .sidebar-menu a{
                              background-color: #00ff00;
                              color: #000000;
                              }*/

        /* other links in the sidebarmenu when hovered *//*
         .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                              background-color: #ff69b4;
                              }*/
                             
                             
                             
                             
/* logo */
.skin-blue .main-header .logo {
  /*background-color: #A67FA9;*/
  background-image: url("piste_bleue.jpg");
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
  background-image: url("piste_bleue.jpg");
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  background-image: url("piste_bleue.jpg");
  background-position: top right;
  }    


/* body of the dashboard */
.content-wrapper {
  background-image: url("tartan_brut.jpeg");
  color: white;
}

/* tab in the body */
.nav-tabs-custom {
  background-color: #424a5d;
  color: #f2f2f2;
}

.nav-tabs-custom > .tab-content {
  background-color: #424a5d;
  color: #f2f2f2;
}

.nav-tabs-custom > .tab-content > .tab-pane {
  background-color: #424a5d;
  color: #f2f2f2;
}

.nav-tabs-custom > .tab-content > .tab-pane  .dataTables_wrapper{
  background-color: #424a5d;
  color: #f2f2f2;
}

.nav-tabs-custom > .tab-content > .tab-pane  .dataTables_wrapper table.dataTable{
  background-color: #424a5d;
  color: #f2f2f2;
}

.nav-tabs-custom > .tab-content > .tab-pane  .dataTables_wrapper table.dataTable tr.odd{
  background-color: #424a5d;
  color: #f2f2f2;
}

.nav-tabs-custom > .tab-content > .tab-pane  .dataTables_wrapper table.dataTable tr.even{
  background-color: #424a5d;
  color: #f2f2f2;
}


/* les onglets de nav des tables */
.nav-tabs-custom > .nav-tabs, .nav-tabs-custom > .nav-tabs > li{
  border-bottom-color: yellow;
  margin-bottom: 0px;
}

.nav-tabs-custom > .nav-tabs > li > a {
  background-color: #424a5d;
  color: #f2f2f2;
}

.nav-tabs-custom > .nav-tabs > li.active{
  border-top-color: yellow;
  border-left-color: yellow;
  border-right-color: yellow;
  margin: 0px;
}

.nav-tabs-custom > .nav-tabs > li > a:hover, .nav-tabs-custom > .nav-tabs > li.active > a:hover {
  background-color: #424a5d;
  color: yellow;
}

.nav-tabs-custom > .nav-tabs > li.active > a {
  background-color: #424a5d;
  color: yellow;
}


/* titre du tableau */
.nav-tabs-custom > .nav-tabs > li.header {
  color: yellow;
  font-weight: bold;
}

/* zones annees des data tables */
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter,
.dataTables_wrapper > .dataTables_info, .dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_processing {
  color: white;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: white;
}

/* effet de style navtabs */
/*
.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: red;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: red;
}
*/

/*
  .tab-content {
    background-color: #A00014;
  }*/
 
 

 
 
::selection {
  background: #68dff0;
    color: #fff;
}
::-moz-selection {
  background: #68dff0;
    color: #fff;
}



/*sidebar navigation*/
 
.main-sidebar {
  width: 210px;
  height: 100%;
  position: fixed;
  background: #424a5d;
}

.main-sidebar h5 {
  color: #f2f2f2;
    font-weight: 700;
}

.main-sidebar ul li {
  position: relative;
}
/*
  .sidebar li > .treeview-menu li  {
    padding-left: 32px;
  }

.sidebar li.treeview > .treeview-menu li:last-child {
  padding-bottom: 10px;
}
*/
 
  /*LEFT NAVIGATION ICON*/
.dcjq-icon {
  height:17px;
  width:17px;
  display:inline-block;
  background: url("../img/nav-expand.png") no-repeat top;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  position:absolute;
  right:10px;
  top:15px;
}
.active .dcjq-icon {
  background: url("../img/nav-expand.png") no-repeat bottom;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
/*---*/
 
  .nav-collapse.collapse {
    display: inline;
  }

.main-sidebar .sidebar .sidebar-menu li ul.treeview-menu{
  margin: -2px 0 0;
  padding: 0;
}

.main-sidebar .sidebar .sidebar-menu {
  margin-top: 75px;
}

.main-sidebar .sidebar > ul > li > ul.treeview-menu {
  display: none;
}

.main-sidebar .sidebar > ul > li.active > ul.treeview-menu, .main-sidebar .sidebar > ul > li > ul.treeview-menu > li > a {
  display: block;
}

.main-sidebar .sidebar .sidebar-menu li ul.treeview-menu li{
  background: #424a5d;
    margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}


.main-sidebar .sidebar .sidebar-menu li ul.treeview-menu li:last-child{
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

.main-sidebar .sidebar .sidebar-menu li ul.treeview-menu li a {
  font-size: 12px;
  padding: 6px 0;
  line-height: 35px;
  height: 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #aeb2b7;
}


/* le sous-menu "hovered" *//*
  ul.sidebar-menu li ul.treeview-menu li a:hover {
    color: white;
    background: transparent;
  }*/
 
 
 
  /* le sous-menu actif */
.main-sidebar .sidebar .sidebar-menu li ul.treeview-menu li.active a {
  color: #4b3de5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
}


/* l'ensemble des menus */
.main-sidebar .sidebar .sidebar-menu li{
  /*line-height: 20px !important;*/
  margin-bottom: 5px;
  margin-left:10px;
  margin-right:10px;
}


.main-sidebar .sidebar .sidebar-menu{
  line-height: 15px;
}

.main-sidebar .sidebar .sidebar-menu li a span{
  display: inline-block;
}

.main-sidebar .sidebar .sidebar-menu li a{
  background: #daf068
  color: red;
  text-decoration: none;
  display: block;
  padding: 15px 0 15px 10px;
  font-size: 12px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-sidebar .sidebar .sidebar-menu li a.active, .main-sidebar .sidebar .sidebar-menu li a:hover, .main-sidebar .sidebar .sidebar-menu li a:focus {
  background: #daf068;
  color: #fff;
  display: block;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.main-sidebar .sidebar .sidebar-menu li a i {
  font-size: 15px;
  padding-right: 6px;
}



.mail-info, .mail-info:hover {
  margin: -3px 6px 0 0;
  font-size: 11px;
}